.scrollify {
    position: relative;
    /*min-height: 100%;*/
    /*z-index: -1000;*/
}

.sectionTitle {
    font-family: 'Spectral';
    font-weight: bold;
    text-decoration: none;
	font-size: 2.4em;
    color: #BF0000;
    display: none;
}

.sectionFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 130px;
    background-color: #2E2E31;
    opacity: 0.8;
    text-align: center;
    display: none;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.footer_title {
    padding-top: 3px;
    color: #BF0000;
}

.footer_links {
    margin-left: 0%;
    /*margin-right: 50px;
    margin-bottom: 50px;
    */
}

.footer_links img {
    height: 40px;
    width: 40px;
}

.footer_links a {
    display: inline-block;
}

.header_class {
	margin-top: 20%;
}

.header_class > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #BFBECA;
}

.header_class > li {
    float: left;
    color: #BFBECA;
}

.header_class > li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #BFBECA;
}

.header_class > li a:hover:not(.active) {
    /*background-color: black;*/
    color: #BFBECA;
    text-decoration: none;
}

.active {
	/*text-decoration: underline;*/
	color: #BBB773;
    /*text-decoration-color: #0ABDA0;*/
    border-bottom: 2px solid #0ABDA0;
}

a {
	color: #BFBECA;
    transition: 0.9s;
}

a:hover {
	color: #FFF336;
    text-decoration: none;
}

.hiddenSectionTitle {
    text-decoration: underline;
    font-family: 'Spectral';
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
    color: #D5D5D5;
    visibility: hidden;
}

.sectionContent {
    display: none;
    /*font-size: 25px;*/
    font-size: 0.8em;
    overflow-y: auto;
    text-align: center;
    /*margin-top: 5%;*/
    /*width: 50%;*/
}

.sectionContent.displaying {
    display: block;
}

.left {
    width: 50%;
    text-align: left;
    margin-left: 5%;
    left: 0;
}

.sectionContent.left {
    width: 100%;
    padding: 0% 5% 0% 5%;  /* top right bottom left */
}

.sectionContent.right {
    padding-left: 5%;
    width: 100%;
    text-align: center;
}

.about_me_left {
    overflow: hidden;
    margin-top: 1em;
}

.about_me_right {
    margin-top: 1em;
    text-align: left;
    padding: 0% 5% 0% 5%;
    overflow: hidden;
    animation: type 4s steps(60, end);
}

.appear_from_right {
    display: none;
}

.appear_from_left {
    display: none;
}

.about_me_info {
    margin: 1em 0em 0em 1em;
    border: 2px solid #0ABDA0;
    border-radius: 0.2em;
    border-top: none;
}

.myimage {
    /*width: ;*/
    height: 300px;
    width: 300px;
    /*margin-left: 20%;*/
    margin-right: 10%;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    /*background-size: cover;*/
}

@media (max-width: 800px) { 
    /* all contents of Mobile.css */
    .sectionTitle {
      font-size: 1.8em;
    }
    .sectionContent {
      font-size: 0.8em;
    }
    .navigation {
        width: 250px;
    }
    /*.myimage {
        height: 200px;
        width: 200px;
    }*/
}
@media (max-width: 500px) {
    .sectionTitle {
      font-size: 1.2em;
    }
    .sectionContent {
      font-size: 0.6em;
    }
    .navigation {
        width: 200px;
    }
}
@media (min-width: 801px) and (max-height:900px) { 
    /* all contents of LowRes.css */
    .sectionTitle {
      font-size: 2.2em;
    }
    .sectionContent {
      font-size: 0.7em;
    }
    /*.myimage {
        height: 200px;
        width: 200px;
    }*/
}
@media (min-width: 801px) and (min-height:901px) { 
     /* all contents of HiRes.css */
}
