.scrollify {
    position: relative;
    /*min-height: 100%;*/
    /*z-index: -1000;*/
}

.sectionTitle {
    font-family: 'Spectral';font-size: 60px;
    font-weight: bold;
    text-decoration: none;
	font-size: 70px;
    color: #003cb3;
}

.sectionFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 130px;
    background-color: #ffffff;
    opacity: 0.9;
    text-align: center;
    display: none;
}

.footer_title {
    padding-top: 3px;
    color: #0ABDA0;
}

.footer_links {
    margin-left: 0%;
    /*margin-right: 50px;
    margin-bottom: 50px;
    */
}

.footer_links img {
    height: 40px;
    width: 40px;
}

.footer_links a {
    display: inline-block;
}

.header_class {
	margin-top: 30%;
}

.header_class > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.7);
}

.header_class > li {
    float: left;
    color: rgba(0, 0, 0, 0.7);
}

.header_class > li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.header_class > li a:hover:not(.active) {
    /*background-color: black;*/
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.active {
	/*text-decoration: underline;*/
	color: rgba(0, 0, 0, 0.7);
    /*text-decoration-color: #0ABDA0;*/
    border-bottom: 2px solid #0ABDA0;
    color: #000000;
}

a {
	color: rgba(0, 0, 0, 0.7);
}

a:hover {
	color: rgba(0, 0, 0, 0.7);
}

/*#content {
    display: inline-block;
    width: 100%;
}*/

.sectionTitle {
    display: none;
}

.hiddenSectionTitle {
    text-decoration: underline;
    font-family: 'Spectral';font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    font-size: 70px;
    color: #D5D5D5;
    visibility: hidden;
}

.sectionContent {
    display: none;
    font-size: 25px;
    overflow-y: auto;
    text-align: center;
    /*margin-top: 5%;*/
    /*width: 50%;*/
}

.left {
    width: 50%;
    text-align: left;
    margin-left: 5%;
    left: 0;
}

.sectionContent.left {
    width: 90%;
}

.sectionContent.right {
    padding-left: 5%;
    width: 90%;
    text-align: center;
}

.myimage {
    /*width: ;*/
    height: 300px;
    width: 300px;
    /*margin-left: 20%;*/
    margin-right: 10%;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    /*background-size: cover;*/
}
