/**
* Color Scheme Old --------------------------------------------------------------------
* body-background-color: #ffffff;
* menu-open-icon-color: #555;
* text-color: #AB987A;
* text-color-section-headers: #680f0f;
* background-color-nav: #9CC9CB;
* projects-header: #000000;
* contact-footer-background-color: #370E0E;
* nav-background-color: #9CC9CB;
* nav-links-color: rgba(0, 0, 0, 0.7);
* nav-border-color: #000000;
* company-title-color: #8b7765;
* worked-at-border-and-circle-color: #8b7765;
* Color Scheme New 0 --------------------------------------------------------------------
* body-background-color: #D5D5D5;
* menu-open-icon-color: #555;
* text-color: #6D7993;
* text-color-section-headers: #96858F;
* background-color-nav: #9CC9CB;
* projects-header: #8b7765;
* contact-footer-background-color: #370E0E;
* nav-background-color: #9099A2;
* nav-links-color: rgba(0, 0, 0, 0.7);
* nav-border-color: #000000;
* company-title-color: #8b7765;
* worked-at-border-and-circle-color: #8b7765;
* Color Scheme New 1 --------------------------------------------------------------------
* body-background-color: #D5D5D5;
* important-text-color: #0ABDA0;
* menu-open-icon-color: #555;
* text-color: #0d0d0d;
* text-color-section-headers: #003cb3;
* background-color-nav: #9CC9CB;
* projects-header: #0ABDA0;
* projects-background-color: #F2EECB;
* contact-footer-background-color: #F2EECB;
* nav-background-color: #F2EECB;
* nav-links-color: rgba(0, 0, 0, 0.7);
* nav-border-color: #000000;
* company-title-color: #0ABDA0;
* worked-at-border-and-circle-color: #8b7765;
* sidebar-active-color: #000000;
* Color Scheme New 2 --------------------------------------------------------------------
* body-background-color: #D5D5D5;
* important-text-color: #0ABDA0;
* menu-open-icon-color: #555;
* text-color: #BFBECA;
* text-color-section-headers: #BF0000;
* background-color-nav: #2E2E31;
* projects-header: #0ABDA0;
* projects-background-color: transparent;
* contact-footer-background-color: #2E2E31;
* nav-background-color: #2E2E31;
* nav-links-color: BFBECA;
* nav-border-color: #000000;
* company-title-color: #0ABDA0;
* worked-at-border-and-circle-color: #0ABDA0;
* sidebar-active-color: #000000;
* skills-bar-background-color: #2E2E31;
*/


html {
  min-height: 100%;
  width: 100%;
}

body {
    /*font-family: "Quicksand", Arial, sans-serif;*/
    /*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 19px; font-style: bold; font-variant: small-caps; font-weight: 700; line-height: 38px;*/
    font-family: "Lucida Sans Typewriter"; font-size: 30px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 60px;
    height: 100%;
    width: 100%;
    font-weight: bold;
    background-color: #D5D5D5;
    /*font-size: 15px;*/
    line-height: 1.8;
    /*color: rgba(0, 0, 0, 0.7);*/
    color: #BFBECA;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.background_img {
    position: fixed;
    width: 100%;
    height: 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -100000;
    opacity: 0.8;
}

.background_img_img {
  width: 100%;
  height: 100%;
}

input:focus {
    outline:none !important;
}

button:focus {
    outline:none !important;
}

/* Sidebar Nav */

/*all transitions 300ms, 599ms initially*/

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
  left: 0;
}

.navigation.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.navigation.active .navigation__inner {
  /*background-color: #f2f3f7;*/
  background-color: #2E2E31;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: background-color 0s linear 699ms, -webkit-transform 400ms linear;
  transition: background-color 0s linear 699ms, -webkit-transform 400ms linear;
  transition: transform 400ms linear, background-color 0s linear 699ms;
  transition: transform 400ms linear, background-color 0s linear 699ms, -webkit-transform 400ms linear;
}

.navigation.active .navigation__inner:after {
  width: 300%;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #000000;
  border-radius: 50%;
  -webkit-animation: elastic 150ms ease 300.5ms both;
  animation: elastic 150ms ease 300.5ms both;
}

.navigation__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: background-color 0s linear 400ms, -webkit-transform 400ms linear; /*all 300ms initially*/
  transition: background-color 0s linear 400ms, -webkit-transform 400ms linear;
  transition: transform 400ms linear, background-color 0s linear 400ms;
  transition: transform 400ms linear, background-color 0s linear 400ms, -webkit-transform 400ms linear;
}

.navigation__inner:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #2E2E31;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

/* Elastic Frames */

@-webkit-keyframes 
elastic {  0% {
 border-radius: 50%;
}
15% {
 border-radius: 0;
}
20% {
 border-top-right-radius: 50px 50%;
 border-bottom-right-radius: 50px 50%;
}
40% {
 border-radius: 0;
}
60% {
 border-top-right-radius: 35px 50%;
 border-bottom-right-radius: 35px 50%;
}
80% {
 border-radius: 0;
}
90% {
 border-top-right-radius: 20px 50%;
 border-bottom-right-radius: 20px 50%;
}
100% {
 border-radius: 0;
}
}

@keyframes 
elastic {  0% {
 border-radius: 50%;
}
15% {
 border-radius: 0;
}
20% {
 border-top-right-radius: 50px 50%;
 border-bottom-right-radius: 50px 50%;
}
40% {
 border-radius: 0;
}
60% {
 border-top-right-radius: 35px 50%;
 border-bottom-right-radius: 35px 50%;
}
80% {
 border-radius: 0;
}
90% {
 border-top-right-radius: 20px 50%;
 border-bottom-right-radius: 20px 50%;
}
100% {
 border-radius: 0;
}
}

/* Sidebar Collapse Button */

#sidebarToggle {
    position: fixed;
    left: 0;
    width: 40px;
    height: 60px; /*40px;*/
    background-color: transparent;
    border-width: 0px;
    border-radius: 3px;
    width: 60px; /*40px;*/
    cursor: pointer;
    z-index: 1;
}

#sidebarCollapse {
    width: 100%;
    height: 100%;
    /*background-color: #f2f3f7;*/
    background-color: transparent;
    border-width: 0px;
    border-radius: 3px;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 3px;
    margin: 0 auto;
    display: block;
    background: #BFBECA;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}
