.flex-container {
    display: flex;
    flex-flow: row wrap;
    /*max-height: 810px;*/
    overflow-y: auto;
}

.flex-container .projects_internal {
    text-align: center;
    position: relative;
    /* Background Gradient for Complementary Colors */
    background-color: transparent;
    /* For WebKit (Safari, Chrome, etc) */
    /*background: #F2EECB -webkit-gradient(linear, left top, left bottom, from(#E6E4E4), to(#F2EECB)) no-repeat;*/
    /* Mozilla,Firefox/Gecko */
    /*background: #F2EECB -moz-linear-gradient(top, #E6E4E4, #F2EECB) no-repeat;*/
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E4E4, endColorstr=#F2EECB) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E4E4, endColorstr=#E6E4E4)" no-repeat;
    margin: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    height: 350px;
    border-style: none;
    border-color: #F2EECB;
    border-width: 1px;
    border-radius: 10px;
}

.projects_internal .projects_title {
    padding-top: 8px;
    color: #0ABDA0;
    font-size: 35px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    height: 80px;
    width: 100%;
}

.projects_internal .projects_title:nth-child(even) {
    border-bottom-right-radius: 10px;
}
.projects_internal .projects_title:nth-child(odd) {
    border-bottom-left-radius: 10px;
}

.projects_internal .projects_content {
    border-top-style: solid;
    border-top-width: 3px;
    height: 220px;
    width: 100%;
}

.projects_internal .projects_content:nth-child(even) {
    border-top-left-radius: 10px;
}
.projects_internal .projects_content:nth-child(odd) {
    border-top-right-radius: 10px;
}

.projects_internal ul {
    list-style-type:none;
}

.projects_internal .projects_footer {
    position: absolute;
    bottom: 4%;
    left: 4%;
    height: 50px;
}

.projects_internal .projects_footer > a img {
    width: 40px;
    height: 40px;
}

.spacer {
    height: 5px;
}

.ityped-cursor {
    font-size: 2.8rem;  /*2.2rem;*/
    opacity: 1;
    color: #ff471a;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

.ityped {
    color: #0ABDA0;
    font-style: italic;
    font-size: 38px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 14%;
}

.scroll_up_symbol {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    /*margin-bottom: 2%;*/
    margin-bottom: -12%;
}

.scroll_down_symbol {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    /*margin-bottom: 12%;*/
    margin-bottom: 0%;
}

.scroll_up {
    position: fixed;
    right: 2em;
    top: 2em;
    height: 2em;
    width: 2em;
    z-index: 1;
    background-color: #2E2E31;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: #6A696F;
    transition: 0.5s;
    opacity: 0.85;
}

.scroll_down {
    position: fixed;
    right: 2em;
    bottom: 2em;
    height: 2em;
    width: 2em;
    z-index: 1;
    background-color: #2E2E31;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: #6A696F;
    transition: 0.5s;
    opacity: 0.85;
}

@media only screen and (max-width: 1100px) {
    .scroll_up {
        right: 2em;
        top: 2em;
        width: 3em;
        height: 3em;
    }
    .scroll_down {
        right: 2em;
        bottom: 2em;
        width: 3em;
        height: 3em;
    }
    .scroll_up_symbol {
        margin-bottom: -32%;
    }
    
    .scroll_down_symbol {
        margin-bottom: -20%;
    }
}

.scroll_up:hover {
    cursor: pointer;
    background-color: #8E8D94;
}

.scroll_down:hover {
    cursor: pointer;
    background-color: #8E8D94;
}
